*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;}
body {line-height: 1.5; -webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block; max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}
#root, #__next {isolation: isolate;}



:root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
    --font-size: 1rem;

    --clr-subtle: hsl(0, 0%, 50%);
    --clr-text: hsl(0, 0%, 20%);
    --clr-bg: hsl(0, 0%, 100%);
    --clr-border: hsl(0, 0%, 90%);
    --clr-card-bg: hsl(0, 0%, 95%);
    --clr-primary: hsla(60, 100%, 50%, 0.5);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --clr-subtle: hsl(0, 0%, 50%);
      --clr-text: hsl(0, 0%, 90%);
      --clr-bg: hsl(0, 0%, 12.5%);
      --clr-border: hsl(0, 0%, 20%);
      --clr-card-bg: hsl(0, 0%, 15%);
      --clr-primary: hsla(60, 100%, 50%, 0.5);
    }
  }

  body {
    background-color: var(--clr-bg);
  }

  h1, h2, h3, h4, h5, h6 {
    letter-spacing: -0.035em;
    padding-block: 0.2em 0.5em;
  }

  @font-face {
    font-family: InterVariable;
    font-style: normal;
    src: url(font/InterVariable.woff2);
  }

  @font-face {
    font-family: InterVariable;
    font-style: italic;
    src: url(font/InterVariable-Italic.woff2);
  }

  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  #editor {
    color: var(--clr-text);
    outline: none;
    width: min(60ch, calc(100vw - 2rem));
    margin: auto;
    margin-top: 10%;
    border-radius: 0.25em;
    padding: 0.25em;
  }

  *::selection {
    background-color: var(--clr-primary);
  }

  input {
    border: none;
    outline: none;
    background: none;
  }

  span:has(input) {
    display: inline-block;
    border: var(--clr-border) 1px solid;
    outline: none;
    background-color: var(--clr-card-bg);
    border-radius: 0.25em;
  }


u {
  font-family: monospace;
  font-size: var(--font-size);
  background-color: var(--clr-card-bg);
  border-radius: 0.25em;
  padding: 0.25em;
  text-decoration: none;
}

.placeholder::after {
  content: 'Type here';
  color: var(--clr-card-bg);
  display: inline;
}



.placeholder br {
  display: none;
}


pre {
  background-color: var(--clr-card-bg);
  border-radius: 0.25em;
  border: 1px solid var(--clr-border);
  padding: 0.5em;
}

#menu {
  background-color: var(--clr-card-bg);
  color: var(--clr-text);
  border-radius: 0.5em;
  border: 1px solid var(--clr-border);
  position-anchor: --menu-item;
  position: absolute;
  left: anchor(left);
  top: anchor(bottom);
  transform: translateY(0.5em);
  width: 250px;

  scrollbar-color: var(--clr-border) var(--clr-card-bg);


  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }

  button {
    font-family: monospace;
    background-color: var(--clr-card-bg);
    color: var(--clr-text);
    border: none;
    padding: 0.5em 0.25em;
    border-radius: 0.25em;
    cursor: pointer;
    width: 100%;
    text-align: left;

    &:hover {
      background-color: var(--clr-border);
    }
  }	
}

span.menu-search {
  anchor-name: --menu-item;
  display: inline-block;
  padding: 0.15em 0.5em;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: var(--clr-card-bg);
  color: var(--clr-text);
  transition: background-color 0.2s ease-in-out;
}


li:has(input) {
  display: block;
  position: relative;
  gap: 0.5em;

  input {
    position: absolute;
    left: -1.5em;
    top: 50%;
    transform: translateY(-50%);
  }
}
